


.mainheader {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 1em;
}

#introDescr {
    margin: 1em;
}

#startBtn {
    margin: 1em;
}

#highScore {
    margin-left: 1em;
}

#highscoreName {
    text-align: center;
    font-size: 25px;
}

#highscoreScore {
   text-align: center;
    font-size: 25px;
}

#countdown {
    margin-top: 0em;
}

#startquiz {
    text-align: center;
    margin-top: 10em;
}

#initialsPage {
    text-align: center;
}